<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="home.css">
    <title>Document</title>
</head>
<body>
    <div class="container">

        <div class="menu">
            <div id="cF">
                <button class="foto"></button>

            </div>
    
            <div class="bottons">
                <button class="btn">
                    <img src = "home.svg" alt = "home" class = "icon-btn">
                </button>

                <button class="btn">
                    <img src = "courses.svg" alt = "home" class = "icon-btn">
                </button>

                <button class="btn">
                    <img src = "chat 1.svg" alt = "home" class = "icon-btn">  
                </button>

                <button class="btn">
                    <img src = "settings 4.svg" alt = "home" class = "icon-btn">  
                </button>
            </div>
            
        </div> 

        <div class="present">
            <div class = "login-head-container">
                <img src = "Vector.svg" alt = "Imagen Diamante" id = "diam-present">
                <h1 id = "cours-present">CoursApp</h1>

            </div>
            <h2 id = "your-learning">Your Learning</h2>
        
        </div>

    </div>
</body>
</html>