<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="register.css">
        <title>Document</title>
    </head>
    <body>
        <div class= "container">
            <div class="login-container">
                <h1 id="welcome">Welcome to</h1>
                <div class = "login-head-container">
                    <img src = "Vector.svg" alt = "Imagen Diamante" id = "diam-login">
                    <h2 id = "coursLogin">CoursApp</h2>
                </div>
                
                <div>
                    <h1 id = "login-txt">Sign up</h1>
                    <div>
                        <div id="nombre">
                            <input class="txt1" id="nor" type="text" placeholder="Name">
                        
                            <input class="txt1" id="sur" type="text" placeholder="Surnames">

                        </div>
                        
                        <input class="txt" type="text" placeholder="Username">

                        <input class="txt" type="email" placeholder="Email">

                        <input class="txt" type="password" placeholder="Password">

                        <input class="txt" type="password" placeholder="Repeat Password">
                        
                    </div>
                </div>

                <div class="btn-group">
                    <button id="btn">Sign up</button><br>
                    
                    <button id="rgst">Login</button>
                    
                </div>
            </div>

            <div class="present">
                <div class = "login-head-container">
                    <img src = "Vector.svg" alt = "Imagen Diamante" id = "diam-present">
                    <h1 id = "cours-present">CoursApp</h1>

                </div>
                <h2 id = "your-learning">Your Learning</h2>
            
            </div>
        </div>
    </body>
</html>