<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="reproductor.css">
    
    <script src="https://vjs.zencdn.net/7.10.2/video.min.js"></script>

</head>
<body>

        <video class ="video-style video-js vjs-16-9 vjs-big-play-centered" id = "fm-video" controls width="520" height="250">
            <source src="ibai.mp4" type="video/mp4">
            Tu navegador no soporta los vídeos de HTML5
        </video>

    <script src="reproductor.js"> </script>
</body>
</html>